#root, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    min-height: 100vh;
    background-color: #162B32;
    text-align: center;
    justify-content: center;
}
.search-bar {
    width: 50%;
    padding: 10px;
    border: none;
    text-align: center;
    font-family: 'Big Shoulders Stencil Text', cursive;
    letter-spacing: 2px;
    font-size: 15px;
}   
.search-button {
    background:  blueviolet;
    padding : 10px 20px;
    color: white;
}

.country-name {
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    padding: 16px 25px;
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    text-shadow: 2px 4px rgba(50,50,70,0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0,0,0,0.2);
}
.detail .confirmed {
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    padding: 16px 25px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-shadow: 2px 4px rgba(50,50,70,0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0,0,0,0.2);
    margin-right: 15px;
}
 .detail .recovered {
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    padding: 16px 25px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-shadow: 2px 4px rgba(50,50,70,0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0,0,0,0.2);
    margin-right: 15px;
 }
 .detail .deaths {
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    padding: 16px 25px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-shadow: 2px 4px rgba(50,50,70,0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0,0,0,0.2);
 }
 .con {
     color: yellow
 }
 .rec {
     color: green;
 }
 .dec {
     color: red
 }

 @media screen and (max-width: 600px) {
     .country-name {
         font-size: 70px;
     }

 }
